@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.paizaoB1 {

  background-color: #FFFFFF;
  width: 989px;
  height: 467.69px;
  
  display: flex;
  flex-direction: row;
  margin-left: 40.45px;

}

.textoB1{
  
  display: flex;
  flex-direction: column;
  padding-top: 155px;
}
.tituloB1{
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  margin-top: 5px;
    
}
.paragrafoB1{

  color:#4A4A4A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  font-style: normal;
 
}

.paragrafobordaB1{
  border: 4px solid #FFB800;
background-color: #FFB800;
width: 90.85px;
height: 30.24px;
margin-top: 25px;
margin-left:15px;
border-radius: 20.62px;

  color:#000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align:center;
  
}

.alinharbordasB1{
  display: flex;
  flex-direction: row;
}

.imagemB1{

  padding-top: 55px;
  
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.paizao{
max-width: 928px;
width: 100%; /* Garante que ele ocupe o espaço disponível até o máximo */
height: 461px;
align-items: center;
padding: 0 33px;
gap: 40px; 
display:flex;
flex-direction:row;


}
.pai-texto{
width: 447.78px;
height: 127.47px;
margin-top: -50px;
margin-right: 15px;
}
.titulo {

font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 29.52px;
line-height: 31.98px;
letter-spacing: 0%;
margin-bottom: 3px;
margin-top: 0;
}

.preto {
  color: #000000;
}

.amarelo{
    color: #FFBB00;
}

.paragrafo {
width: 440.78px;
height: 95px;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 12.79px;
line-height: 23.62px;
letter-spacing: 0%;
margin-top: 0%;
margin-left: 3px;
margin-bottom: 2px;
text-align: left;
}

.foto-lado{
width: 393.650px;
height: 314.939px;
margin-left: -60px;
margin-right: 0px;
margin-top: -70px;
}
.foto2{
display: flex;
flex-direction:column;
margin-top: -60px;
}

.foto-embaixo{
width: 413.33px;
height: 201.74px;
margin-top: -125px; ;


}




















body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.segundadiv {
  background-color: #FFD700;
  padding: 40px 20px;
  text-align: center;
}

.titulodiv2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cards-container-div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-div2 {
  width: 200px;
  padding: 20px;
  border-radius: 16px;
}

.card-div2 img {
  width: 150px;
  height: auto;
  margin: 10px 0;
}

.card-div2 p {
  margin: 10px 0;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.card-div2 strong {
  font-size: 16px;
}

.botaodiv2 {
  margin-top: 10px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  cursor: pointer;
}






.paizaoB4{
 
  background-color: #FFFFFF;
  width: 944.7618408203125px;
  height: 477.79364013671875px;
  top: 1467.33px;
  display: flex;
  margin: auto;
  flex-direction: column;
  
  
  
  }
   
   
  .textoB4{
      
  text-align: center
  }
  
   
  .tituloB4{
  color: #000000;
   
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center 
  
  
  }
   
  
  
  .blococentralB4{
     
    background-color:#FFFFFF;
    width: 944.7618408203125px;
    height: 278.9999694824219px;
    top: 1580.51px;
    left: 30.02px;
    display: flex;
    flex-direction: row;
    text-align: center 
    
  
  }
  
  
  
  .bloco1B4{
      display: flex;
      flex-direction: column;
  
  }
  .bloco2B4{
      display: flex;
      flex-direction: column;
    
  }
  .bloco3B4{
    
      display: flex;
      flex-direction: column;
      margin-top: 15px;
     
  }
  
  
  
  
  
  
  .paragrafoB4{
   
  color: #000000;
  
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9.84px;
    text-align: center
  }
  .paragrafo1B4{
   
      color: #000000;
      
      font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 9.84px;
        
        text-align: center
        
      }
  .paragrafo2B4{
   
  color: #000000;
          
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.84px;
  
  text-align: center
   }
          
  .paragrafo3B4{
   
  color: #000000;
              
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.84px;
  text-align: center
   }
  
  .imagensB4{
    
   text-align: center
  }
  
  .imagem1B4{
  
      
      height: 137.9617156982422;
      top: 1580.51px;
      left: 112.19px;
      border-radius: 40.35px;
     
     
  
  }
  .imagem2B4{
      
      height: 133.84124755859375;
      top: 1584.44px;
      left: 405.46px;
      border-radius: 66.92px;
      margin-bottom: 4px;
     
      
  } 
  
  .imagem3B4{
  
      
      
      height: 114.65079498291016;
      top: 1603.64px;
      left: 731.7px;
      border-radius: 45.76px;
     margin-bottom: 8px;
  }
  .emojisB4{
  text-align: center 
  }

  